<section>
  <form fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="16px"
        #loginForm="ngForm" (ngSubmit)="onSubmit(loginForm)">
    <mat-form-field>
      <input type="email" matInput placeholder="Your email here"
            ngModel name="email" required 
            #email="ngModel">
      <mat-error *ngIf="!email.hasError('required')">Email is not valid!!!</mat-error>
      <mat-error *ngIf="email.hasError('required')">Field must not be empty!!!</mat-error>
    </mat-form-field>

    <mat-form-field hintLabel="Should be at least 6 characters long.">
    <input type="password" matInput placeholder="Your password"
            ngModel name="password" required minlength="6"
            #password="ngModel">
      <mat-hint align="end">{{password.value?.length}}</mat-hint>
      <mat-error *ngIf="password.hasError('required')">Field must not be empty!!!</mat-error>
    </mat-form-field>

    <button mat-raised-button color="primary" *ngIf="!(isLoading$ | async)"
            [disabled]="loginForm.invalid">Submit</button>
    <p id="errMessage">{{ errMessage }}</p>
    <mat-spinner *ngIf="isLoading$ | async"></mat-spinner>
  </form>
</section>
